@page "/Footer"
<style>
    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #ffffff;
    }
</style>
<footer>
    
    <div class="footer">
        <hr/>
        <p>Copyright (C) 2024 HazelnutStudio</p>
    </div>
</footer>
