@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<p>Hi. Welcome to the Hazelnut Studio website.</p>
<p>This is very bare bones at the moment, but I'm planning on expanding this and Decorating it better as I get more comfortable with HTML and CSS</p>
<p>But yeah, welcome to my little home on the internet.</p>
<br/><br/>
<h4>Links</h4>
<h5>Social</h5>
<ul>
    <li><a href="https://discord.gg/gEUR2EKd8y">Discord server</a></li>
    <li><a href="https://bsky.app/profile/hazelnutstudio.github.io">Bluesky (I left Twitter a while ago)</a></li>
</ul>


<h5>Content</h5>
<ul>
    <li><a href="https://youtube.com/@@_hazelnutstudio">YouTube (I haven't posted anything there yet)</a></li>
    <li><a href="https://www.twitch.tv/hazelnutstudio">Twitch</a></li>
    <li><a href="https://youtube.com/@@hazelnutstudiolive">Twitch VODS</a></li>
</ul>

<h5>Nerd stuff</h5>
<ul>
    <li><a href="https://github.com/hazelnutstudio">GitHub</a></li>
</ul>

<h5>Other</h5>
<ul>
    <li><a href="https://www.last.fm/user/hazelnut272">Last.fm (my music profile)</a></li>
</ul>
