@page "/Portfolio"
<style>
    .portfolio-image{
        position: relative;
        margin: auto;
        width: 50%;
        text-align: center;
    }
    .portfolio-image img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom-text{
        text-align: center;
    }
</style>
<h1>Portfolio</h1>

<h3>Hazelbot</h3>
<p><b>AUGUST 2024 - PRESENT &nbsp; &nbsp; | &nbsp; &nbsp; C++</b></p>

<p>
    Hazelbot is a custom Discord bot I wrote for my Discord server, to automate some features that I wanted to see, but
    ended up becoming a sort of "character" in a way, within my Discord server, with it's own personality (as it can 
    respond to users in very simple ways).
</p>
<p>
    I originally started working on this project in Python, but eventually reached some features that would be difficult, 
    messy, and unoptimized if implemented in Python, so I decided to switch to working in C++. The bot is actively developed 
    and expanded upon to this day.
</p>
<p>
    It also comes with a lot of customization options, for anyone who wants to host their own version of the bot (it's 
    fully open source, although the build system is kind of. Not there yet). 
</p>

<div class="portfolio-image">
    <img src="hazelbot_interaction_2.png" alt="hazelbot interaction"/>
    <p>An example of the interactions that Hazelbot can have with users</p>
</div>

<a href="https://github.com/HazelnutStudio/Hazelbot">Source Code</a>
<br/>
<br/>
<br/>
<p class="bottom-text">You've reached the bottom...</p>
<p class="bottom-text">
    I'm working on more things, But for now this is everything that's here. I left pretty much all of my old stuff 
    behind when I transitioned, so you'll only find projects since April 2024 here. It's okay though, you're not missing 
    much.
</p>
<br/>
<br/>
<br/>